HiFiC360/models/files/
HiFiC360/models/ckpts/
HiFiC360/models/evaluation_results/
HiFiC360/SUN360-200/
HiFiC360/SUN360/
transformarBMP-PNG/imagesBMP/
transformarBMP-PNG/imagesPNG/
testes-WS/images/

# Outras regras comuns (opcional)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/
*.egg-info/
.vscode/
.idea/
